@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

@keyframes changer{
    100%{
        filter: hue-rotate(360deg);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans Narrow", serif;
}

body {
    word-spacing: 5px;
    min-height: 100vh;
    max-width: 100vw;
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    z-index: 99;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.742);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.thumbnail {
    font-size: 2em;
    color:#F5F5F5;
    user-select: none;
    padding-top: 3px;
    margin-left: 40px;
    cursor: pointer;
    height: 65px;
    width: 65px;
}
.thumbnail img{
    border: 1px solid white;
    animation: changer 5s infinite;
}
.navlinks a {
    color: #F5F5F5;
    text-decoration: none;
    border-radius: 0.85rem;
    padding: 7px;
    transition: 0.8s;
}

/* .navbar a:hover {
    transition: 0.8s;
    background-color: #F5F5F5;
    color: #081b31;
} */

.navbar a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: aliceblue;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .7s;
}
.navbar a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}
.navbar a:hover{
    color: #ffff00;
    transition: 1.5s;
    background-color: rgba(240, 248, 255, 0.134);
}

.navbar .navlinks {
    position: relative;
    font-size: 1.1em;
    color: #F5F5F5;
    text-decoration: none;
    margin-left: 100px;
    border: none;
    font-weight: 500;
}

.navbar .logout {
    width: 110px;
    height: 40px;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    color: #f5f5f5;
    margin-left: 200px;
    margin-right: 60px;
    transition: 0.5s;
}

.navbar .logout:hover {
    background-color: #00000062;
    color: #ffff00;
    transform: scale(0.95);
    /* z-index: -1; */
}

.main {
    background-image: url("../images/contact1.jpg");
    background-position: center;
    background-size: cover;
    
}

.cool {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 95vh;
    padding-top: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.main h1 {
    margin-bottom: 1rem;
    font-size: 3.7rem;
}

.main h3 {
    font-size: 2rem;
}

.container .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2.5rem;
}

.container .title h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.container .title p {
    margin-bottom: 0.3rem;
}
.quote{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #083124;
    color: #ffffff;
    font-family:'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: 800;
}
form {
    border: 2px solid lightgray;
    border-radius: 0.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    margin: 4rem 15rem 5rem 15rem;
    padding: 2rem 3rem 2rem 3rem;
    flex-wrap: wrap;
}

.name {
    width: 100%;
}

label p {
    padding-left: 0.3rem;
}

input {
    margin-top: 0.3rem;
    width: 100%;
    border-radius: 0.4rem;
    padding: 0.65rem;
    padding-left: 0.4rem;
    margin-bottom: 1.5rem;
    border: 1px solid black;
}

.msg textarea {
    margin-top: 0.3rem;
    height: 7rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    resize: none;
    overflow: auto;
    border-radius: 0.4rem;
}

.email {
    width: 47%;
}

.phone {
    width: 47%;
}

.msg {
    width: 100%;
}

.submit {
    width: 100%;
}

.submit button {
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid black;
    background-color: rgb(50, 50, 255);
    color: white;
    font-size: 1.2rem;
    padding: 0.5rem;
    cursor: pointer;
}

.chat-icon {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #ff5722;
    color: #FFF;
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 24px; 
    cursor: pointer; 
}

.chat-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 330px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
}

.chat-header {
    background: #ff5722;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.chat-body {
    padding: 10px;
    height: 400px;
    overflow-y: auto;
    background: #f9f9f9;
}

.chat-footer {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.chat-footer input {
    flex: 1;
    padding: 5px;
}

.chat-footer button {
    background: #ff5722;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.btn {
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.yes {
    margin-top: 0.7rem;
    padding: 1rem;
    margin-right: 5rem;
    margin-left: 4rem;
    background-color: orange;
    border-radius: 1rem;
    font-size: 1.2rem;
}

.no {
    padding: 1rem;
    margin-top: 0.7rem;
    background-color: green;
    color: white;
    border-radius: 1rem;
    font-size: 1.2rem;
}

#chatInput {
    margin-right: 5px;
    padding: 5px;
    border-radius: 0.6rem;
}

#send-bot {
    border-radius: 0.6rem;
}

footer {
    color: #f5f5f5;
}

footer .foot {
    background-color: #081b31;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 400;
}

footer .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;
    width: 100%;
    height: 290px;
}

footer .part {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .part a {
    text-decoration: none;
    color: #f5f5f5;
    text-align: left;
    margin-bottom: 3px;
}

.part img:hover{
    cursor: pointer;
}

footer .part a:hover {
    text-decoration: underline;
}

.part img{
    border: 3px solid white;
    animation: changer 5s infinite alternate;
}

footer .foot-title {
    font-size: 1.4rem;
    font-weight: 600;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

footer .foot-title {
    height: 55px;
}

footer .follow p {
    padding-left: 2rem;
    margin-bottom: 0.2rem;
}

footer .follow a {
    margin: 0.2rem;
}

footer .follow a img {
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
    /* border-radius: 50%; */
    transition: all 0.3s ease;
}

footer .follow a img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.7);
    transition: all 0.3s ease;
}

.copyright {
    background-color: rgb(1, 14, 29);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}